:root{
    font-size: 18px;
}

.navbar{
    height:80px;
    box-sizing: border-box;
    background: #409494;
    color:rgb(253, 250, 250);
    font-family: 'Ubuntu', sans-serif;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.nav{
    width: 80vw;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: auto;
}

.nav-left{
    font-size: 1.7rem;
    font-weight: bold;
}

.nav-right{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right li:hover{
   font-weight: bold;
   cursor: pointer;
}

.nav-right{
    display: flex;
    flex:0.3;
    justify-content: space-around;
    list-style: none;
}


.nav-right .link{
    text-decoration: none;
    color: white;
}
.nav-right .link.active{
    font-weight: bolder;
 }

 .logout{
    cursor: pointer;
 }