/* .college{
    width: 100%;
    margin: auto;
    display: inline-flex;
    height:70vh;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;

}

.college-block{
    height: 90%;
    width:30%;
    position: relative;
    display: flex;
    border-radius: 20px;
    flex-direction: column;  
background: linear-gradient(135deg, #FFFFFF 0%, #EAEAEA 100%);
box-sizing: border-box;
box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.college-block:hover{
    cursor: pointer;
}

.college-block h5{
margin-top: 10px;
font-size: 18px;
font-weight: bold;
}

.college-img{
    height: 45%;
}
.college-block img{
    width:100%;
    height: 100%;

}
.button-71 {
height:10%;
width:90%;
position: absolute;
bottom:1%;
left: 10px;
  background-color: #369F9D;;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.01);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}


.college-block p{
    font-size: 14px;
} */




.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
  color: black;
}

.card {
  color: black;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  width: 100%;
}

.card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  height: auto;
  max-width: 100%;
}

.card-content {
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.card-description {
  color: black;
  font-size: 16px;

  margin: 0 0 20px;
}

.card-button {
  background-color:#369F9D;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.card-button:hover {
  /* background-color: #0c4782; */
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.01);
  color: white;
}

@media only screen and (min-width: 768px) {
  .card {
    width: calc(33.33% - 10px);
  }
}
