.login{
    display: flex;
}
.login-right{
    flex:0.5;
    background-color: #15A69D;
    height: 100vh;
    width: 100%;
    position: relative;
}
.login-top{
    position: relative;
    height: 100%;
}
.login-top img{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-10%);
}
.login-top p{
    
    position: absolute;
    height: 55px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    font-family: 'Handlee';
    font-style: normal;
    font-weight: 200;
    font-size: 48px;
    line-height: 64px;

    color: #FFFFFF;
}

.login-below p{
    position: absolute;
    left:50%;
    top: 80%;
    transform: translate(-50%,-70%);

    font-family: 'Handlee';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;

    color: #FFFFFF;

}

.login-below .button{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50%;
    top: 90%;
    border:none;
    color: #FFFFFF;
    background: #15A69D;
    box-shadow: -1px 1px 2px rgba(23, 133, 128, 0.2), 1px -1px 2px rgba(9, 223, 212, 0.2), -1px -1px 2px rgba(34, 255, 251, 0.9), 1px 1px 3px rgba(8, 66, 63, 0.9), inset 1px 1px 2px rgba(34, 255, 251, 0.3), inset -1px -1px 2px rgba(8, 66, 63, 0.5);
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF; 
    transform: translate(-50%,-90%);
    transition-delay: 1s;
    
}

.error{
    font-size:12px;
    color:red;
    display:flex;
}
.not-error{
    display: none;
}
.login-left{
    flex:0.5;
    height: 100vh;
    background: #dde1e7;

    width: 100%;
    position: relative;
}
.login-left .login-box{
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    background: #dde1e7;
    width: 60%;
    height: 70%;
    left: 89px;
    top: 20%;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    border-radius: 43px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-left .login-box input{
    width: 80%;
    padding: 20px;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    background: #dde1e7;
    outline: none;
    font-size: 16px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.login-left .button{
    width: 200px;
    height: 50px;
   cursor: pointer;
    border:none;
    color: #FFFFFF;
    background: #15A69D;
    box-shadow: -1px 1px 2px rgba(23, 133, 128, 0.2), 1px -1px 2px rgba(9, 223, 212, 0.2), -1px -1px 2px rgba(34, 255, 251, 0.9), 1px 1px 3px rgba(8, 66, 63, 0.9), inset 1px 1px 2px rgba(34, 255, 251, 0.3), inset -1px -1px 2px rgba(8, 66, 63, 0.5);
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF; 
   
    transition-delay: 1s;
}

.login-box .text{
    text-align: center;
}